@import url('https://fonts.googleapis.com/css?family=Exo+2|Monoton|Noto+Sans+KR&display=swap');
@import url("fonts.css");

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
   line-height:1.2em;
   font-family: 'NanumSquareRound';
   color:#fff
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
   text-decoration: none
}

html,
body,
.wrapper {width:100%;height:100%}

.bg {position:fixed;width:100%;height:100%;background:url(../images/bg.jpg) no-repeat center center #ffc5c4;background-size:100% auto}
.section {display:flex;flex-direction:column;position:relative;width:100%;height:100%;box-sizing:border-box}

.main,
.invite {padding:15% 0}

.main .title,
.main .character,
.location .direction {display:flex;align-items:center;justify-content:center}

.main .title {position:relative;height:30%;text-align:center}
.main .title strong {position:relative;display:block;font-family:'NanumBarunpen';font-weight:700;font-size:50px;color:rgba(255,255,255,1);text-shadow:0 2px 0 rgba(255,164,164,1)}
.main .title::before {content:'0629';position:absolute;top:50%;display:block;width:100%;font-family:'NanumSquareRound';font-weight:700;font-size:120px;color:rgba(255,255,255,0.15)}
.main .character {height:40%;}
.main .character img {height:200px}
.main .infomation {height:30%;text-align:center}
.main .infomation li {color:#fff;text-shadow:0 1px 0 rgba(255,164,164,1)}
.main .infomation li + li {margin-top:15px}
.main .infomation li:nth-child(1) {font-size:20px}
.main .infomation li:nth-child(2) span:first-child {display:block;margin-bottom:2px;font-family:'Exo 2';font-size:19px;color:#fff}
.main .infomation li:nth-child(3) {font-size:14px}
.main .infomation li:nth-child(3) a {display:block;color:#fff}
.main .infomation li:nth-child(3) a + a {margin-top:2px;font-family:'Exo 2'}

.invite .invitation {position:relative}
.invite .invitation .img {position:absolute;top:0;left:50%;transform:translateX(-50%);overflow:hidden;width:200px;height:200px;margin:0 auto;margin-top:-100px;border-radius:100%;border:6px solid #fff;box-sizing:border-box}
.invite .invitation .img img {width:100%;height:100%}
.invite .invitation .box {width:300px;margin:0 auto;margin-top:100px;padding:130px 10px 30px;text-align:center;background:#fe8090;box-sizing:border-box}
.invite .invitation .box strong {display:block;font-family:'Monoton';font-size:20px;text-transform:uppercase;color:#ffc5c4}
.invite .invitation .box p {margin-top:20px;font-family:'NanumSquareRound';font-size:12px;color:#fff}
.invite .contact {margin-top:10px}
.invite .contact ul {overflow:hidden;width:300px;margin:0 auto}
.invite .contact li {float:left;width:48%;background:#fe8090;box-sizing:border-box}
.invite .contact li + li {margin-left:4%}
.invite .contact li i {display:block;margin:0 auto 5px}
.invite .contact li a {display:block;padding:10px;text-align:center;font-size:12px;color:#fff;box-sizing:border-box}

.location {background:#fe8090}
.location .map {width:100%;height:30%;text-align:center}
.location .map iframe {width:100%;height:100%}
.location .direction {height:70%}
.location .address {text-align:center}
.location .address .tit {margin-bottom:20px;font-family:'Monoton';font-size:30px;color:#fff}
.location .address li {font-family:'NanumSquareRound';color:#fff}
.location .address li + li {margin-top:15px;font-size:12px}
.location .address li p {font-weight:bold}
.location .address li strong {display:block;font-weight:700;font-size:10px;color:#fff}
.location .address li span {display:block;font-size:12px}
.location .address li .link {margin-top:5px}
.location .address li .link a {display:inline-block;width:60px;padding:5px;font-size:10px;border:1px solid rgba(255,255,255,0.3);border-radius:5px;box-sizing:border-box}
.location .address li .link a + a {margin-left:5px}
.location .address li .link a img,
.location .address li .link a i {display:block;margin:0 auto 2px;font-size:14px}
