@charset "utf-8";

/* font style */
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: local('Noto Sans KR');
   src: url(../font/NotoSansKR-Regular.otf),
      url(../font/NotoSansKR-Regular.otf) format('embedded-opentype'),
      url(../font/NotoSansKR-Regular.otf) format('truetype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: local('Noto Sans KR');
   src: url(../font/NotoSansKR-Medium.otf),
      url(../font/NotoSansKR-Medium.otf) format('embedded-opentype'),
      url(../font/NotoSansKR-Medium.otf) format('truetype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: local('Noto Sans KR');
   src: url(../font/NotoSansKR-Bold.otf),
      url(../font/NotoSansKR-Bold.otf) format('embedded-opentype'),
      url(../font/NotoSansKR-Bold.otf) format('truetype');
}

@font-face {
   font-family: '맑은 고딕';
   font-style: normal;
   font-weight: normal;
   src: local('맑은 고딕');
   src: url(../font/MalgunGothic.eot),
      url(../font/MalgunGothic.eot?#iefix) format('embedded-opentype'),
      url(../font/MalgunGothic.TTF) format('truetype');
}

@font-face {
   font-family: 'Nanum Barun Gothic';
   font-style: normal;
   font-weight: normal;
   src: url('Nanum Barun Gothic');
   src: url(../font/NanumBarunGothic.otf),
   url(../font/NanumBarunGothic.otf) format('embedded-opentype'),
   url(../font/NanumBarunGothic.otf) format('truetype');
}

@font-face {
   font-family: 'NanumSquare';
   font-style: normal;
   font-weight: normal;
   src: url('Nanum Square');
   src: url(../font/NanumSquareR.otf),
   url(../font/NanumSquareR.otf) format('embedded-opentype'),
   url(../font/NanumSquareR.otf) format('truetype');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('Montserrat-Regular');
   src: url(../font/Montserrat-Regular.ttf),
   url(../font/Montserrat-Regular.ttf) format('embedded-opentype'),
   url(../font/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url('Montserrat-Medium');
   src: url(../font/Montserrat-Medium.ttf),
   url(../font/Montserrat-Medium.ttf) format('embedded-opentype'),
   url(../font/Montserrat-Medium.ttf) format('truetype');
}

* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, option, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
button,
pre {font-family:'Noto Sans KR','돋움','Nanum Barun Gothic',Dotum, Arial, Helvetica, AppleGothic, sans-serif}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input, select, option,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   list-style: none;
   vertical-align: baseline;
   font-weight:400;
   word-break: keep-all;
   word-wrap: break-word
}
html {font-size:10px}
body {
   color:#333;
   font-size:1.4rem
}

h1, h2, h3, h4, h5 {font-weight:normal}
p {line-height:1.6em}
a {text-decoration:none;color:inherit}
em,address,i {font-style:normal}

img,fieldset {border:0}
img {vertical-align:middle}
button {padding:0;border:none;background:none;cursor:pointer;outline:none}
button:disabled {cursor:default}
label {cursor:pointer}

table{border-collapse:collapse}
table th,table td{vertical-align:middle;text-align:center}
table caption {display:none}

/* input */
label, legend {
   display:none;
}
input {
   width:auto;
   height:auto;
   padding:0;
   border:none;
   background:none
}
select {
   border:0;
   appearance: none;
   -webkit-appearance: none;
}
textarea {
   resize:none
}
.input input[type=text] {
   width:100%;
   height:40px;
   padding:0 10px;
   font-size:1.4rem;
   border-radius:3px;
   border:1px solid #dedede;
   box-sizing:border-box
}
.input input[type=text]::placeholder {
   color:#999
}
.input.calendar {
   position:relative;
}
.input.calendar input[type=text] {
   padding-right:42px
}
.input.calendar input[type=text] + label {
   overflow:hidden;
   display:block;
   text-indent:-999px;
   font-size:0
}
.input.calendar input[type=text] + label::before {
   content:'';
   position:absolute;
   top:10px;
   right:10px;
   display:block;
   width:22px;
   height:20px;
   background-image:url('../images/icons.png');
   background-repeat:no-repeat;
   background-position:-98px -170px
}
.select {
   position:relative
}
.select select {
   width:100%;
   height:40px;
   padding-left:10px;
   padding-right:30px;
   font-size:1.4rem;
   color:#999;
   border-radius:3px;
   border:1px solid #dedede;
   box-sizing:border-box
}
.select select + label {
   overflow:hidden;
   display:block;
   width:0;
   height:0;
   text-indent:-999px;
   font-size:0;
}
.select select + label::before {
   content:'';
   position:absolute;
   top:50%;
   right:12px;
   display:block;
   width:12px;
   height:7px;
   background-image:url('../images/icons.png');
   background-repeat:no-repeat;
   background-position:-100px -115px;
   transform:translateY(-50%)
}
.select select:valid,
.select option {
   color:#333
}

.checkbox {
   position:relative;
   display:inline-block
}
.checkbox input[type="checkbox"] {
   -webkit-appearance:none;
   position: absolute;
   top:0;
   left:0;
   width:20px;
   height:20px;
   margin:0;
   outline:0
}
.checkbox input[type="checkbox"] + label {
   position:relative;
   display:block;
   padding-left:28px;
   line-height:20px;
   font-weight:normal;
}
.checkbox input[type="checkbox"] + label:before {
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:20px;
   height:20px;
   text-align:center;
   background:transparent;
   border:1px solid #dedede;
   border-radius:2px;
   box-sizing:border-box
}
.checkbox input[type="checkbox"]:checked + label:before {
   border:none;
   background:#2cbbb6 !important;
   transition:background-color .3s
}
.checkbox input[type="checkbox"]:checked + label:after {
   content:'';
   position:absolute;
   top:5px;
   left:4px;
   width:12px;
   height:10px;
   background:url('../images/icons.png') no-repeat -100px -124px
}

