@media screen and (max-width: 1660px) {
    .inner {width:90%}
    
    .subContainer.showcase .inner {flex-direction:column}
    .subContainer.showcase .search {width:100%}
    .subContainer.showcase .search + .section {width:100%;margin-top:80px}
    .subContainer.showcase .search + .section::before {display:none}
    .subContainer.showcase .searchContent ul {display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:20px}
    .subContainer.showcase .searchContent li {display:flex;align-items:center;width:48%}
    .subContainer.showcase .searchContent li + li {margin-top:10px}
    .subContainer.showcase .searchContent li strong {width:100px}
    .subContainer.showcase .searchContent li strong + div {width:calc(100% - 100px)}
    .subContainer.showcase .searchContent .button {text-align:right}
    .subContainer.showcase .searchContent .submit {margin-top:20px}
    .subContainer.showcase .searchContent .clear {margin-top:15px}
    
    .compareContainer {max-width:100%}
    }
    
    @media screen and (max-width: 1280px) {
    html {font-size:9px}
    
    .header.pc .gnb .depth1 > li {padding:0}
    .header.pc .gnb .depth1 > li > a {padding:0 15px}
    .header.pc .gnb .depth2 > li + li {margin-left:90px}
    
    .mainVisual .visualContent .content {margin-top:20px}
    .mainVisual .visualContent .title {font-size:4.5rem}
    .mainVisual .visualContent .button {margin-top:30px}
    .mainMenu li .image {height:185px}
    .mainShowcase .title .more::before {width:20px}
    .mainShowcase .title .more::after {height:20px}
    .mainShowcase .slick-slide {padding:15px}
    .mainShowcase .slick-prev {left:140px}
    .mainShowcase .slick-next {left:180px}
    .mainShowcase .slick-arrow::before {width:9px;height:17px;background-position-x:-48px}
    .mainShowcase .slick-disabled::before {background-position-x:-57px}
    .mainNotice .inner {padding:5px 0}
    .mainNotice .content span {display:none}
    .mainNotice .title {width:130px}
    .mainNotice .content {width:calc(100% - 130px)}
    .mainNotice .slick-arrow {left:-25px;width:15px;height:15px}
    .mainNotice .slick-prev {top:10px}
    .mainNotice .slick-next {bottom:10px}
    .mainNotice .slick-arrow::before {width:8px;height:4px;background-position-y:-108px}
    .mainNotice .more::before {width:16px}
    .mainNotice .more::after {height:16px}
    
    .subMenu a {height:45px;line-height:45px;padding:0 15px}
    
    .subContainer.iot .process .flow .box {width:calc(50% - 35px)}
    .subContainer.iot .process .flow .box:nth-child(1) {order:1}
    .subContainer.iot .process .flow .box:nth-child(2) {order:2}
    .subContainer.iot .process .flow .box:nth-child(3) {order:4;margin-top:70px}
    .subContainer.iot .process .flow .box:nth-child(3)::before {top:-30px;left:50%;transform:translate(-50%, -50%) rotate(90deg)}
    .subContainer.iot .process .flow .box:nth-child(4) {order:3;margin-top:70px}
    .subContainer.iot .process .flow .box:nth-child(4)::before {left:auto;right:-50px;transform:translate(-50%, -50%) rotate(180deg)}
    .subContainer.iot .process .website .box {width:calc(50% - 35px)}
    .subContainer.iot .process .website .box span {text-align:left}
    .subContainer.iot .process .website .login {display:none}
    .subContainer.plan .planList > ul > li > .tit {width:120px}
    .subContainer.plan .planList > ul > li > .charge span {display:block;text-align:center}
    .subContainer.plan .planList > ul > li > .charge a {display:block;margin-top:10px;margin-left:0}
    .subContainer.plan .planList.plan > ul > li > .info > li {width:120px;padding:0 10px}
    .subContainer.plan .planList.plan.iot > ul > li > .charge {width:150px}
    .subContainer.plan .planList.sale.iot > ul > li > .info > li {width:85px}
    .subContainer.plan .planList.sale.iot > ul > li > .info > li strong {padding:10px 5px}
    
    .compareContent .item strong {padding:0 15px}
    
    }
    
    @media screen and (max-width: 767px) {
    html {font-size:8px}
    
    .inner {width:calc(100% - 60px)}
    
    .mainVisual {height:500px}
    .mainVisual .visualContent .button button {padding:13px 30px}
    .mainMenu .inner {width:100%;padding:0}
    .mainMenu ul {flex-direction:column}
    .mainMenu li {position:relative;width:100%;max-width:100%}
    .mainMenu li .image {height:120px;border-radius:0}
    .mainMenu li .image::before {background-color:transparent;background-image:linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1))}
    .mainMenu li .image strong  {display:none}
    .mainMenu li:nth-child(1) .image {background-image:url('../images/bg_sub_visual_01.jpg')}
    .mainMenu li .text {position:absolute;top:50%;left:30px;margin-top:0;transform:translateY(-50%)}
    .mainMenu li .text strong::after {content:'';display:inline-block;width:7px;height:12px;margin-left:12px;background:url('../images/icons.png') no-repeat -68px -100px}
    .mainShowcase .inner {padding:50px 0 70px}
    .mainShowcase .title .more::before {width:16px}
    .mainShowcase .title .more::after {height:16px}
    .mainShowcase .slick-arrow {top:50%;border-radius:100%;background:#fff;transform:translateY(-50%);box-shadow:0px 0 20px 0px rgba(0,0,0,0.1)}
    .mainShowcase .slick-prev {left:30px}
    .mainShowcase .slick-next {left:auto;right:30px}
    
    .subVisual {height:auto;padding-top:60px}
    .subVisual .inner {height:190px}
    .subVisual .location {display:none}
    .subVisual .title {height:auto}
    
    .subContent {padding:50px 0}
    .subContent .title + .content {margin-top:20px}
    .subContent .content p + ul {margin-top:10px}
    .subContent .content .list > li + li {margin-top:10px}
    .subContent .content .list > li > ul > li {margin-top:5px}
    .subMenu a {height:36px;line-height:36px;padding:0 10px;font-weight:normal;font-size:1.8rem}
    .subMenu + .section {margin-top:40px}
    
    .subContainer.iot .network .image {margin:20px 0}
    .subContainer.iot .process .section + .section {margin-top:40px}
    .subContainer.iot .process .flow {margin-top:20px}
    .subContainer.iot .process .flow .box {width:90%;margin:0 auto;order:unset !important}
    .subContainer.iot .process .flow .box strong {height:40px;line-height:40px}
    .subContainer.iot .process .flow .box + .box {margin-top:40px !important}
    .subContainer.iot .process .flow .box + .box::before {display:block;top:-35px;left:50%;transform:translate(-50%, 0) rotate(90deg) scale(0.8)}
    .subContainer.iot .process .flow .box .list {padding:15px}
    .subContainer.iot .process .flow .box li + li {margin-top:5px}
    .subContainer.iot .process .website {flex-direction:column;margin-top:20px}
    .subContainer.iot .process .website::before {top:0;left:50%;width:1px;height:100%;border-left:4px dotted #2cbbb6}
    .subContainer.iot .process .website .box {width:90%}
    .subContainer.iot .process .website .box strong {height:40px;line-height:40px}
    .subContainer.iot .process .website .box .button a {padding:8px 15px}
    .subContainer.iot .process .website .box li {height:80px;line-height:80px}
    .subContainer.iot .process .website .box span {margin-top:15px}
    .subContainer.iot .process .website .box.dev {margin-top:30px}
    .subContainer.business .imageBox{margin:20px 0}
    .subContainer.business .imageBox img.pc {display:none}
    .subContainer.business .imageBox img.mobile {display:block;max-width:440px;margin:0 auto}
    .subContainer.plan .planContent {margin-top:30px}
    .subContainer.plan .planList > ul > li {flex-direction:column;align-items:flex-start;padding:20px 0}
    .subContainer.plan .planList > ul > li > .tit {width:auto}
    .subContainer.plan .planList > ul > li > .tit .badge {margin-right:5px;margin-bottom:0}
    .subContainer.plan .planList > ul > li > .tit strong {display:inline-block}
    .subContainer.plan .planList > ul > li > .info {flex-direction:column}
    .subContainer.plan .planList > ul > li > .info > li {width:auto !important;margin-top:5px;padding:0 !important;text-align:left}
    .subContainer.plan .planList > ul > li > .info > li + li {border:0}
    .subContainer.plan .planList > ul > li > .info > li strong {padding:0 !important}
    .subContainer.plan .planList > ul > li > .charge {width:100% !important;margin-top:20px}
    .subContainer.plan .planList > ul > li > .charge span {text-align:left}
    .subContainer.plan .planList > ul > li > .charge a {margin-top:5px;text-align:center;padding:6px 12px}
    .subContainer.plan .planList.plan > ul > li > .info > li {padding:0}
    .subContainer.plan .planList.plan > ul > li > .info > li::before {display:inline-block;margin:0;margin-right:5px;width:16px;height:15px;vertical-align:middle;background-position:-120px -132px}
    .subContainer.plan .planList.plan > ul > li > .info > li.date::before {background-position:-137px -132px}
    .subContainer.plan .planList.plan > ul > li > .info > li.graph::before {background-position:-154px -132px}
    .subContainer.plan .planList.plan > ul > li > .info > li.phone::before {background-position:-171px -132px}
    .subContainer.plan .planList.plan > ul > li > .info > li.message::before {background-position:-188px -132px}
    .subContainer.plan .planList.sale > ul > li > .info > li strong {display:inline-block;padding:0;border:0}
    .subContainer.plan .planList.sale > ul > li > .info > li span {display:inline-block;padding:0}
    .subContainer.plan .planList.sale > ul > li > .info > li span::before {content:'/';display:inline-block;margin:0 5px}
    .subContainer.showcase .search + .section {margin-top:40px}
    .subContainer.showcase .searchTitle button {display:block}
    .subContainer.showcase .searchContent li {width:100%}
    .subContainer.showcase .tabMenu li + li {margin-left:10px}
    .subContainer.showcase .tabMenu ul {padding:0}
    .subContainer.showcase .tabMenu li + li {margin-left:5px}
    .subContainer.showcase .tabMenu li a {padding:0 5px}
    .subContainer.showcase .tabContent {margin-top:25px}
    .subContainer.showcase .tabContent > ul > li {flex-basis:100%;margin-bottom:20px}
    .subContainer.showcase .tabContent .item {padding:30px}
    .subContainer.showcase .tabPage {margin-top:10px}
    
    .compareContent {flex-wrap:wrap;height:auto}
    .compareContent .item {height:70px}
    .compareContent .item strong {padding:0 10px}
    .compareContent .item button {top:5px;right:5px}
    .compareContent .item button::before {width:10px;height:10px;background-position-y:-15px}
    .compareContent > button {flex:auto;width:100%;max-width:100%;height:60px}
    
    .footer .inner {padding-top:30px;padding-bottom:30px;text-align:center}
    .footer .link a::after {margin:0 8px}
    .footer address span {margin-right:12px}
    
    .modalHeader {height:60px;padding:0 15px}
    .modalHeader strong {line-height:60px}
    .modalHeader button {width:17px;height:17px;background-position-x:-24px}
    .modalContent {padding:20px}
    .modalContent > .button {margin-top:15px}
    .modalContent > .button button {padding:8px 18px}
    
    .modal.compare .modalContainer {width:96%}
    .modal.compare .table tr:first-child th, 
    .modal.compare .table tr:first-child td {padding:15px 5px}
    .modal.compare .table th, 
    .modal.compare .table td {padding:10px 5px}
    .modal.compare .table td .img {width:60px;height:60px}
    .modal.compare .table td .tit {width:60px;margin-top:10px;font-size:1.8rem}
    
    }
    